/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-03-23 13:14:05
 * @version $Id$
 */
body {
	background: red;
}
div {
	color: yellow;
}
p {
	margin: 0;
	padding: 0
}
a {
	color: #000;
	text-decoration: none;
}